@use "../../../index.scss";
@use "../../../mixins";

.itemContainer {
    position: relative;
    
    .cardInfos {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-100);
        color: aliceblue;
        bottom: var(--spacing-200);
        left: var(--spacing-200);
        
        .upperCardInfos {
            display: flex;
            align-items: center;
            gap: var(--spacing-100);
            @include mixins.text-preset-m5;
            opacity: 75%;
            padding-top: var(--spacing-100);

            .category {
                display: flex;
                align-items: center;
                gap: var(--spacing-100);
            }
        }

        .title {
            @include mixins.text-preset-m3;
        }
    }

    .image {
        width: 100%;
        height: 11rem;
        object-fit: cover;
        border-radius: var(--rounded);
    }

}

@media screen and (min-width: 768px) {

    .itemContainer {
        height: 19.5rem;

        .cardInfos {
            .upperCardInfos {
                @include mixins.text-preset-5;
            }

            .title {
                @include mixins.text-preset-3;
            }
        }

        .image {
            height: 14rem;
        }
    }
}

@media screen and (min-width: 1440px) {

    .itemContainer {
        height: 22.9rem;

        .image {
            height: 17.4rem;
        }
    }
}
