.mediaGallerySection {

    h2 {
        padding-inline: var(--spacing-200);
        padding-block: var(--spacing-200);
    }

    .mediaGalleryContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: var(--spacing-200);
        gap: var(--spacing-200);
    }
}



@media screen and (min-width: 768px) {

    .mediaGallerySection {

        h2 {
            padding-inline: var(--spacing-300);
            padding-block: var(--spacing-300);
        }

        .mediaGalleryContainer {
            grid-template-columns: repeat(3, 1fr);
            padding-inline: var(--spacing-300);
        }
    }

}

@media screen and (min-width: 1440px) {

    .mediaGallerySection {
        .mediaGalleryContainer {
            grid-template-columns: repeat(4, 1fr);
            gap: var(--spacing-500);
        }
    }

}