.carrousel {
    display: flex;
    gap: var(--spacing-200);
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer / Edge */
}

.carrousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}


@media screen and (min-width: 768px) {
    .carrousel {
        gap: var(--spacing-500);
    }
}