@use "../../index.scss";
@use "../../mixins"; 

.searchBarContainer {
    display: flex;
    align-items: center;
    padding-inline: var(--spacing-200);
    padding-block: var(--spacing-300);
    
    .input {
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--blue-950);
        margin-left: var(--spacing-200);
        @include mixins.text-preset-m1;
        padding-bottom: var(--spacing-100);
    }

    .input:focus {
        border-bottom: solid 1px var(--blue-500);
    }
}

@media screen and (min-width: 768px) {
    .searchBarContainer {
        padding-inline: var(--spacing-300);

        .input {
            @include mixins.text-preset-2l;
        }
    }
}
