// MIXINS
@mixin text-preset-1 {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 32px;
  line-height: var(--lh-125);
  letter-spacing: -0.5px;
}

@mixin text-preset-2m {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 24px;
  line-height: var(--lh-125);
  letter-spacing: 0;
}

@mixin text-preset-2l {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 24px;
  line-height: var(--lh-125);
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: var(--lh-125);
  letter-spacing: 0;
}

@mixin text-preset-4 {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 15px;
  line-height: var(--lh-125);
  letter-spacing: 0;
}

@mixin text-preset-5 {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 13px;
  line-height: var(--lh-125);
  letter-spacing: 0;
}

@mixin text-preset-m1 {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 20px;
  line-height: var(--lh-125);
  letter-spacing: -0.3px;
  color: white;
}

@mixin text-preset-m2 {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 16px;
  line-height: var(--lh-125);
  letter-spacing: 0;
}

@mixin text-preset-m3 {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 15px;
  line-height: var(--lh-125);
  letter-spacing: 0;
}

@mixin text-preset-m4 {
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 14px;
  line-height: var(--lh-125);
  letter-spacing: 0;
}

@mixin text-preset-m5 {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 12px;
  line-height: var(--lh-125);
  letter-spacing: 0;
}

@mixin text-preset-m6 {
  font-family: var(--font-sans);
  font-weight: 300;
  font-size: 11px;
  line-height: var(--lh-125);
  letter-spacing: 0;
}

