@use "mixins";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

:root {
    --blue-500: #5A698F;
    --blue-900: #161D2F;
    --blue-950: #10141E;

    --spacing-100: 0.8rem;
    --spacing-200: 1.6rem;
    --spacing-300: 2.4rem;
    --spacing-500: 4rem;
    --spacing-1000: 8rem;

    --rounded: 0.8rem;

    --font-sans: 'Outfit', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    --lh-125: 1.25;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--blue-950);
}

// CLASSES
.text-preset-1 {
  @include mixins.text-preset-1;
}

.text-preset-2m {
  @include mixins.text-preset-2m;
}

.text-preset-2l {
  @include mixins.text-preset-2l;
}

.text-preset-3 {
  @include mixins.text-preset-3;
}

.text-preset-4 {
  @include mixins.text-preset-4;
}

.text-preset-5 {
  @include mixins.text-preset-5;
}

// MOBILE PRESET
.text-preset-m1 {
  @include mixins.text-preset-m1;
}

.text-preset-m2 {
  @include mixins.text-preset-m2;
}

.text-preset-m3 {
  @include mixins.text-preset-m3;
}

.text-preset-m4 {
  @include mixins.text-preset-m4;
}

.text-preset-m5 {
  @include mixins.text-preset-m5;
}

.text-preset-m6 {
  @include mixins.text-preset-m6;
}